.custom-input{
    width: 100%;
    font-size: 0.8rem;
    border: 0;
    outline: 0;
    margin-bottom: 0.5rem ;
    border-bottom: 2px solid var(--grey);
    padding:0.4rem 0;
    background-color: transparent;
    color:var(--textColor);
}
.custom-input:focus{
    border: 0;
    outline: 0;
    border-bottom: 2px solid var(--theme);
}