.chartBlock{
    margin:2rem 0 ;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:2rem;
}
.lineChart{
    width: 45%;
    min-width: 320px;
}
.pieChart{
    width: 45%;
    min-width: 320px;
}
.pie-filter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}