.TransationTable{
    width: 100%;
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-table{
    width:95%;
    min-width:320px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.searchName{
    width: 100%;
    display: flex;
    justify-content: space-between;
    row-gap: 1rem;
}
.searchBar{
    width: 90%;
    box-shadow: 0 0 10px var(--grey);
    display: flex;
    align-items: center;
    gap:0.5rem;
    padding: 0 0.5rem;
    border-radius: 5px;
    
}
.search-input{
    width:95%;
    background-color: transparent;
    padding: 0.3rem 0.5rem;
    border: 0;
    outline: 0;
    color:var(--grey)
}

.tableFilters{
    width: 100%;
    display: flex;
    justify-content: space-between;
    row-gap: 1rem;
    flex-wrap: wrap;
}
.Table{
    width: 100%;
    min-width: 320px;
    overflow-x: scroll;
}
.csv-btns{
    display:flex;
    gap:1rem;
    
}
.btn-csv{
    border: 2px solid var(--theme);
    background-color: transparent;
    color: var(--theme);
    padding:0.2rem 0.5rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}
.btn-csv:active{
    background-color: var(--theme);
    color: var(--white);
    transform: scale(0.9);
}
.action-table-btn{
    font-size: 1.2rem;
}
.action-table-btn:hover{
    transform: scale(1.2);
}
.action-table-btn:active{
    transform: scale(1);
}