.App{
  min-height: 100vh;
}
.light-mode {
    background-color:var(--background-light) ;
    color: var(--textColor-light) ;
  }
  
.dark-mode {
    background-color: var(--background-dark);
    color: var(--textColor-dark);
}

